# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

DATABASE_URL=""
TEST_DATABASE_URL=""

# Open AI
OPENAI_API_KEY=""

# Resend
RESEND_API_KEY=""

# Vercel CRON
CRON_SECRET=""

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
CLERK_WEBHOOK_SECRET=""

# Clerk Paths
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/"

# Redis
KV_URL=""
KV_REST_API_URL=""
KV_REST_API_TOKEN=""
KV_REST_API_READ_ONLY_TOKEN=""

# Uploading Thing
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

# Github Issues
ACCESS_TOKEN=""

# Vercel BLOB
BLOB_READ_WRITE_TOKEN=""

# Github Webhook Secret
GH_WEBHOOK_SECRET=""
GH_CLIENT_SECRET=""
GH_APP_PRIVATE_KEY_BASE_64=""