@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #2f3b4e;
	border: transparent;
}

::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}

.mdxeditor {
	/* Common styles for both MDXEditor and Textarea */
	padding: 10px;
	resize: none;
	background-color: hsl(var(--background));
	border-width: 1px;
	border-radius: calc(var(--radius) - 2px);
	border-color: hsl(var(--input));
	min-height: 80px;
	--tw-ring-color: transparent;
  }
  
  /* Headers */
  .mdxeditor h1 {
	margin: 20px 0;
	font-size: 2.25rem;
	font-weight: 800;
	letter-spacing: -0.025em;
	line-height: 1.2;
  }
  
  .mdxeditor h2 {
	margin: 20px 0;
	font-size: 1.875rem;
	font-weight: 600;
	letter-spacing: -0.0125em;
	border-bottom: 1px solid #e5e7eb;
	padding-bottom: 0.5rem;
  }
  
  .mdxeditor h3 {
	margin: 20px 0;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: -0.0125em;
  }
  
  .mdxeditor h4 {
	margin: 20px 0;
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: -0.0125em;
  }
  
  /* Paragraphs */
  .mdxeditor p {
	line-height: 1.75;
  }
  
  .mdxeditor p:not(:first-child) {
	margin-top: 1.5rem;
  }
  
  .mdxeditor p.large {
	font-size: 1.125rem;
	font-weight: 600;
  }
  
  .mdxeditor p.lead {
	font-size: 1.25rem;
	color: #6b7280;
  }
  
  .mdxeditor p.muted {
	color: #6b7280;
  }
  
  .mdxeditor p.code {
	position: relative;
	border-radius: 0.25rem;
	background-color: #f3f4f6;
	padding: 0.125rem 0.25rem;
	font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
	font-size: 0.875rem;
	font-weight: 600;
  }
  
  /* Lists */
  .mdxeditor ul,
  .mdxeditor ol {
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	list-style-type: disc;
  }
  
  .mdxeditor ul ul,
  .mdxeditor ul ol,
  .mdxeditor ol ul,
  .mdxeditor ol ol {
	margin-top: 0; /* Remove margin-top for nested lists */
  }
  
  .mdxeditor ul > li,
  .mdxeditor ol > li {
	margin-top: 0.5rem;
  }
  