.mentions_input__suggestions__item {
	background-color: black;
	color: white;
	padding: 10px;
}

.mentions_input__input {
	padding: 10px !important;
	font-size: 14px !important;
	overflow-y: auto !important;
}

.mentions_input__input:focus {
	outline: 1px solid white;
	border-radius: 8px;
}
